---

  - name: Install JanusGraph
    gather_facts: true
    hosts: '{{ ansible_hosts }}'
    tasks:

  - name: Disable SELINX
    command:
      argv:
        - setenforce
        - '0'
    become: yes

  - name: Disable SELinux on reboot
    selinux:
      state: disabled
    become: yes

  - name: Install required packages for JanusGraph
    dnf:
      name:
        - java-11-openjdk
        - java-11-openjdk-headless
        - java-11-openjdk-devel
        - unzip
        - python3
        - wget
      state: latest
    become: yes

  - name: Create Janus User
    ansible.builtin.user:
      name: janus
    become: yes

  - name: Create Cassandra User
    ansible.builtin.user:
      name: cassandra
    become: yes

  - name: Download Janusgraph Zip File
    ansible.builtin.unarchive:
      src: https://github.com/JanusGraph/janusgraph/releases/download/v0.5.3/janusgraph-full-0.5.3.zip
      dest: /opt
      remote_src: yes
      owner: janus
      group: janus
    become: yes

  - name: Download and Extract Apache Cassandra
    ansible.builtin.unarchive:
      src: http://archive.apache.org/dist/cassandra/4.0.0/apache-cassandra-4.0.0-bin.tar.gz
      dest: /opt
      remote_src: yes
      owner: cassandra
      group: cassandra
    become: yes

  - name: Make Cassandra Owner
    ansible.builtin.command: chown -R cassandra.cassandra /opt/apache-cassandra-4.0.0

  - name: Configure JanusGraph to use Cassandra
    ansible.builtin.lineinfile:
      path: /opt/janusgraph-full-0.5.3/conf/gremlin-server/gremlin-server.yaml
      search_string: 'graph: conf/janusgraph-inmemory.properties'
      line: 'graph: conf/janusgraph-cql.properties'
      owner: janus
      group: janus
      mode: '0664'
    become: yes

  

